<div class="chart_container">
  <div id="chart-<%= collection[:graph_type] %>"></div>
  <div id="smoother" title="Smoothing"></div>
  <div id="slider-<%= collection[:graph_type] %>" class="slider"></div>
  <div class="legend_container">
    <div id="legend-<%= collection[:graph_type] %>"></div>
  </div>
</div>

<script>

// set up data series with 50 random data points
series_data = gon.height_data

if (gon.graph_type === "weight") {
  series_data = gon.weight_data
}

var xAxisFormat = function(n) {
  return n.toString()
}



// instantiate our graph!
var graph = new Rickshaw.Graph( {
  element: document.getElementById("chart-"+gon.graph_type),
  // width: $('#chart-weight').innerWidth(),
  // height: $('#chart-weight').innerHeight(),
  width: 480,
  height: 250,
  renderer: 'line',
  series: series_data
} );

var slider = new Rickshaw.Graph.RangeSlider.Preview( {
  graph: graph,
  element: document.getElementById('slider-'+gon.graph_type),
} );

if (gon.agemos) {
  var hoverDetail = new Rickshaw.Graph.HoverDetail( {
    graph: graph,
    formatter: function(series, x, y) {
      var date = x
      var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
      var content = swatch + series.name + ": " + parseInt(y) + '<br>' + "Age: " + x + " months";
      return content;
    }
  } );

}
else {
  var hoverDetail = new Rickshaw.Graph.HoverDetail( {
    graph: graph
  });
}

var legend = new Rickshaw.Graph.Legend( {
  graph: graph,
  element: document.getElementById('legend-'+gon.graph_type)
});

var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
  graph: graph,
  legend: legend
});

var y = new Rickshaw.Graph.Axis.Y( {
  graph: graph
} );
y.render();

if (gon.agemos) {
  var axes = new Rickshaw.Graph.Axis.X( {
    graph: graph,
    // orientation: 'bottom',
    // pixelsPerTick: 200,
    tickFormat: xAxisFormat
  });
  axes.render();
}
else {
  var axes = new Rickshaw.Graph.Axis.Time( {
    graph: graph
  } );
  axes.render();
}

// graph.configure({renderer:'line'});
graph.render();

// $(window).on('resize', function(){
//   graph.configure({
//     width: $('#chart-weight').innerWidth() - 20,
//     height: $('#chart-weight').innerHeight() - 20
//   });
//   graph.render();
// });
</script>
