/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self

 require foundation_and_overrides
 *= require_tree .
 */

.title-text {
  font-family: 'Crafty Girls', cursive;
  font-size: 900%;
  margin: 0 0 25px 0;
}

input {
  font-weight: 700;
}

.logo {
  margin-top: 20px;
  height: 612px;
  width: 285px;
}
.tagline {
  margin-bottom: 100px;
}

.dropdown {
  margin-right: 100px;
}

form select {
  font-size: 13px;
  border-radius: 3px;
  padding: 4px;
  height: 30px;
  border: 1px solid #ccc;
}

#error_explanation h2 {
  font-size: 18px;
  color: #BF4B30;
}

#error_explanation ul {
  list-style: none;
}

form .row .form-button {
  margin-top: 20px;
}

a .cancel {
  background-color: red;
}

#notice {
  color: #669933;
  font-weight: 700;
}

a.zero-margin-bottom {
  margin-bottom: 0;
}

.slider {
  height: 50px;
}

.legend_container {
  display: none;
}

tbody div {
  overflow:scroll;
  height:200px;
}

table.scrollable table {
  width: 100%;
  padding: 0;
  margin: 0;
}

td.scroll-first-td {
  width: 150px;
  border: none;
}

td.scroll-last-td {
  border: none;
  border-left: 1px solid #BF4B30;
}
